<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458959492505-eq9t0ddhgvoth2r7kfvliv3sdf5851r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458959492505-eq9t0ddhgvoth2r7kfvliv3sdf5851r0</string>
	<key>API_KEY</key>
	<string>AIzaSyDuQEywKIRG7_kt6I9BU2UI2tyQNi9lAMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>458959492505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PEBMED.GHProjects</string>
	<key>PROJECT_ID</key>
	<string>ghproject-fe7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>ghproject-fe7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458959492505:ios:105b35506fb5428ce26f08</string>
</dict>
</plist>